<div class="contenedor">
  <h3>Agregar un Articulo</h3>
  <div class="titulo_contenedor ">
    <label for="titulo">Titulo: </label>
    <input type="texto" id="titulo" #titulo>
  </div>
  <div class="link_contenedor">
    <label for="link">Texto: </label>
    <input type="texto" id="link" #link>
  </div>
  <button class="subir_btn" (click)="agregar_articulo(titulo, link)">subir</button>
</div>

<div *ngFor="let articulo of organizarArticulos()">
  <app-articulo [articulo]="articulo"></app-articulo>
</div>
